/* Regole reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgrey;
}


/* Regole header */
.main-header {
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    background-color: white;
}

.logo {
    vertical-align: middle;
}

/* Regole main */
.container {
    margin: 0 auto;
    max-width: 1000px;
    background-color: white;
    margin-top: 100px;
    padding: 0px;
    border-radius: 10px;
}

.button{
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.container-button{
    padding: 20px 30px;
    border-bottom: 1px solid grey;
    color: lightgray;

}


.container-main-list{
    margin-top: 30px;
    font-size: 20px;
    padding: 30px;
}

li{
    list-style-type: none;
    padding: 10px;
}

.circle{
    display: inline-block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
}

.red{
    border: 1px solid red;
    color: red;
}

.check{
    border: 1px solid lightgreen;
    color: lightgreen;
}

.class{
    display: inline-block;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    font-size: 15px;
    color: white;
}


/* colori classi */
.blue{
    background-color: aqua;
}

.purple{
    background-color: blueviolet;
}

.green{
    background-color: greenyellow;
}
.orange{
    background-color: orange;
}
.yellow{
    background-color: yellow;
}
.pink{
    background-color: pink;
}






