/* Regole reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgrey;
}


/* Regole header */
.main-header {
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    background-color: white;
    margin-bottom: 80px;
}

.logo {
    vertical-align: middle;
}

/* Regole main */
.container {
    margin: 0 auto;
    max-width: 1000px;
    background-color: white;
    border-radius: 10px;
}

/* Regole button */
.container-button{
    padding: 20px 50px;
    border-bottom: 1px solid lightgray;
    color: lightgray; 
}

.button{
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
}



/* Regole lista */
.container-main-list{
    font-size: 20px;
    padding:  30px 50px;
}   

.list-item{
    margin-top: 10px;
}

li{
    list-style-type: none;
    padding: 10px;
} 

/* check e cross */
.circle{
    display: inline-block;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
}

.red{
    border: 1px solid red;
    color: red;
}

.check{
    border: 1px solid lightgreen;
    color: lightgreen;
}


/* Regole classi lista */
.class{
    display: inline-block;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    font-size: 15px;
    color: white;
    padding: 5px 15px;
}


.editorial{
    background-color: rgb(0, 134, 243);
}

.q1-goals{
    background-color: blueviolet;
}

.recruiting{
    background-color: rgb(2, 207, 146);
}

.mobile{
    background-color: orange;
}

.website{
    background-color: rgb(233, 101, 204);
}

.sales{
    background-color: rgb(131, 202, 0);
}






